.airline {
  display: flex;
  align-items: center;

  &__logo {
    height: 36px;
    margin-right: 16px;
  }
}

.terminal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border: 3px solid;
  border-radius: 50%;
}
